PORT=3000

# ms_mascotas
#REPORTS_URL=http://localhost:3003
 
# ms_users
#USERS_URL=http://localhost:3002
 
# ms_auth
#AUTH_URL=http://localhost:3001

REPORTS_URL=http://ms-mascotas:3003
USERS_URL=http://ms-users:3002/api