PORT=3000

AUTH_URL=http://ms-auth:3001
USERS_URL=http://ms-users:3002
MASCOTAS_URL=http://ms-mascotas:3003
LOCALIZACION_URL=http://ms-localizacion:3004
SOPORTE_URL=http://ms-soporte:3005

# Legacy alias (apunta al mismo ms_mascotas)
REPORTS_URL=http://ms-mascotas:3003